{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li><a href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a></li>
        <li><a href="{% url "accounts:password_change" %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Дата рождения: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
    <p>Почта: {{ user_obj.email }}</p>
        <h2>Reviews</h2>
    <div class="task-list">
    {% for review in user_obj.user_order.all %}
        <hr>
            <div class="task">
                <p>Отзыв: <b>{{ review.review }}</b></p>
                <p>Email: <b>{{ review.author.email }}</b></p>
                <div class="pre">Рэйтинг: {{ review.rating }}</div>
                <p>Средний рейтинг: {{ product.avg }}</p>

               <p><a href="{% url 'accounts:detail' request.user.pk %}">
                        Пользователь: {{ request.user.get_full_name}}</a></p>

                {% if perms.webapp.change_review %}
                    <a href="{% url 'webapp:review_update' review.pk %}">Update</a>
                {% endif %}
                {% if perms.webapp.delete_review %}
                    <a href="{% url 'webapp:review_delete' review.pk %}">Delete</a>
                {% endif %}
              </div>

    {% endfor %}
    </div>


{#    <h2 class="text-center clear">Статьи автора:</h2>#}
{#    {% include 'partial/article_list.html' %}#}
{% endblock %}
